.banner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 2120px
    height: 500px
    margin-bottom: 45px
    border-radius: 5px
    font-family: 'Helvetica Neue Roman'
    background-image: url(https://res.cloudinary.com/kitotoinshy/image/upload/v1596566381/react/hw01/MovieCollage_acgpol.png)

    &-info
        width: 1100px
        margin-bottom: 55px
        font-size: 45px
        text-align: center
        color: #fff