.logo
    margin: 0
    font-size: 45px
    text-transform: uppercase
    color: #fff
    
    &-part-one
        font-family: 'Helvetica Neue Condensed Black'
    
    &-part-two
        font-family: 'Helvetica Neue Thin'