.header-description
    display: flex
    justify-content: space-between
    align-items: flex-end
    color: #fff

    &-ti
        width: 431px

        &-title
            margin-bottom: 0
            font-family: 'Helvetica Neue Bold'
            font-size: 45px
            text-transform: uppercase

        &-info
            display: flex
            margin-bottom: 35px
            justify-content: space-between
            font-family: 'Helvetica Neue Roman'

        &-mark
            font-size: 32px
            color: #0aaee4

            & .icon
                margin-right: 15px

            &-integer
                padding: 0 10px
                border: 3px solid #0aaee4
                border-radius: 8px
                color: #0aaee4

.header-description-options .btn
    margin-right: 40px

.header-description-options .btn:last-of-type
    margin: 0