.main-navbar-item
    display: inline-block
    margin: 0 45px 0 0
    color: #0aaee4
    text-decoration: none
    cursor: pointer

    &:hover
        color: #0aaee4

    & h4 
        display: inline-block
        margin: 0
        padding: 0 0 22px 0
        border-bottom: 5px solid transparent
        font-family: 'Helvetica Neue Bold'
        font-size: 28px

        &:hover
            border-bottom: 5px solid #0aaee4
